.profile__title-container{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .profile__title-container{
        justify-content: center;
    }}