.page {
    max-width: 882px;
    width: 88.11%;
    margin: auto;
    font-family: 'Inter', Arial, sans-serif;
    height: min-content;
    text-rendering: optimizeLegibility;
    background-color: #000;
  }