.popup__info{
font-family: Inter;
font-style: normal;
font-weight: normal;
color: #000;
font-size: 14px;
line-height: 17px;
border: none;
border-bottom: 1px solid #f1f1f1;
padding-bottom: 2%;
box-sizing: border-box;

}