.header__logo{
    background-image: url(../../../images/header-logo.svg);
    width: 142px;
    height: 33px;
    background-size: cover;
  }

  @media screen and (max-width: 400px) {
  .header__logo{
    margin-left: 6.4%;
    width: 103px;
    height: 24px;
  }}