@import url(./__container/header__container.css);
@import url(./__logo/header__logo.css);

.header {
    margin: 5% auto 0 auto;
    width: 100%;
    max-width: 882px;
    padding-bottom: 4%;
    opacity: 0.7;
    border-bottom: 1px solid #545454;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
  }  

@media screen and (max-width: 400px) {
  .header{
    margin: 10% 0 0 -6.4%;
    width: 113%;
    padding-bottom: 7.6%;
    }
  }