.profile__subtitle{
    margin: 3% 0 0 0;
    max-width: max-content;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    color: #FFFFFF;
  }


@media screen and (max-width: 600px) {
  .profile__subtitle{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: auto;
      }
  }