.image__close{
    display: flex;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 98%;
    margin-top: -51px;
    padding: 0;
    border: none;
    width: 45px;
    height: 45px;
    background-image: url(../../../images/close-icon.svg);
    transition: opacity 1s ease;
}

.image__close:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .image__close {
        margin: -51px 1% 0 auto;
      }}