.card__bag{
    position: absolute;
    top: 5.5%;
    right: 5%;
    width: 19px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    transition: opacity 1s ease;
}

.card__bag:hover{
    opacity: 0.6;
    cursor: pointer;
}