.card__like{
    background-image: url(../../../images/like.svg);
    border: none;
    background-color: rgba(255,255,255,0);
    height: 18px;
    width: 21px;
    transition: opacity 1s ease;
}

.card__like:hover{
    opacity: 0.6;
}

.card__like_active {
    opacity: 1;
    background: url(../../../images/black_like.svg) center no-repeat;
  }
  
