@import url(./__author/footer__author.css);

.footer{
    display: flex;
    justify-content: space-between;
    height: min-content;
    margin: 7.18% auto 0 auto;
    width: 100%;
    max-width: 1184px;
    padding-bottom: 24px;
}

@media screen and (max-width: 740px) {
    .footer{
        margin-top: 64px;
        width: 88.5%;
        flex-direction: column;
}}