.profile__button{
  background-image: url(../../../images/profile-plus.svg);
  background-repeat: no-repeat;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-position: center;
  background-color: black;
  min-width: 17%;
  min-height: 50px;
  display: flex;
  align-self: center;
  transition: opacity 1s ease;
}

.profile__button:hover{
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
.profile__button{
  width: 100%;
  margin-top: 12%;
  margin-bottom: 12%;
      }
}