.profile__edit-mark{
    margin: auto;
    align-self: center;
    justify-self: center;
    width: 10px;
    height: 10px;
    background-image: url(../../../images/edit-mark.svg);
}


@media screen and (max-width: 600px) {
    .profile__edit-mark{
        width: 10px;
        min-height: 10px;
  }}